<html  ng-app="App" >
<head>
<link rel="stylesheet" href="css/bootstrap.css">
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script  src="lib/ng-file-upload.js"></script>
<script  src="lib/ng-file-upload.min.js"></script>
<script  src="lib/ngMask.min.js"></script>
<script src="app/FormEtudiantControlleur.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/ouiame.css">

</head>
<body>
        
            <div ng-view></div>
     
       

</body>
</html>